<div class="login">
  <video autoplay="true" loop="true" id="video_background" preload="auto" volume="0" >
  <source src="/videos/video-background.mp4" type="video/mp4" >
  </video >
  <div class="login-screen op">
    <div class="app-title">
      <h1>Login</h1>
    </div>



    <div class="login-form control-group">
      <form action="/auth/login" method="POST" id="form-container">
        <label for="email" class="nameLabel">Insert your email</label>
        <input id="email" type="email" class="login-field" name="email" placeholder="email">
    </div>

    <div class="control-group login-form">
      <label for="password" class="nameLabel">Insert your password</label>
      <input id="password" type="password" class="login-field" name="password" placeholder="Your password">
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
    </div>



    <button type="submit" class="btn btn-primary btn-large  btn-losign">Login</button>

<p class="login-link">
      Don't have an account yet?
      <a class="blue" href="/auth/signup">Signup</a>
    </p>
  </div>
</div>
</div>
</form>