<div class="backSignup">
<div class="sign-up ">
  <div class="login-screen signup-screen op">
    <div class="app-title">
      <h1>Signup</h1>
    </div>

    <div class="area-inputs">

      <form action="/auth/signup" method="post" id="form-container">
      <div class="boxInputs">
        <div class="labelWithInput">
          <label for="email">Email</label>
          <input id="email" type="email" name="email" placeholder="email">
        </div>
        <div class="labelWithInput">
          <label for="name">What's your name</label>
          <input id="name" type="name" name="name" placeholder="name">
        </div>
        <div class="labelWithInput">
          <label for="age">How old are you?</label>
          <input id="age" type="age" name="age" placeholder="age">
        </div>
        <div class="labelWithInput">
          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="Your password">
          <br>
          {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}
        </div>
      </div>
    </div>

    <br><br>

    <button type="submit" class="btn btn-outline-primary btn-losign">Signup</button>

    <br><br>

    <p class="account-message">
      Do you already have an account?
      <a href="/auth/login" style="font-size: 13px;">Login</a>
    </p>
    </form>

  </div>
</div>
</div>