<div class="backCreate">
<div class="container">

  <div class="row">


    <div class="col-md-5 login-screenPl ">

      <form action="/plans/newPlan/{{userID}}" method="post">
        <h1>What do you want to do?</h1>
        <div class="form-group">
          <strong><label for="title">Title</label></strong>
          <input name="title" type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
          <select name="plan" class="form-control" id="plan">
            <option value='bar'>Go to a Bar</option>
            <option value='club'>Go to a Club</option>
            <option value='cinema'>Go to the Movies</option>
            <option value='coffee shop'>Go to a Cofee Shop</option>
            <option value='play football'>Play a match of Football</option>
            <option value='play basketball'>Play a match of Basketball</option>
            <option value='play tennis'>Play a match of Tennis</option>
            <option value='play padel'>Play a match of Padel</option>
          </select>
        </div>
        <div class="form-group">
          <strong><label for="date">When?</label></strong>
          <input name="date" type="date" class="form-control" id="date">
        </div>
        <div class="form-group">
          <strong><label for="description">What do you have plane?</label></strong>
          <input name="description" type="text" class="form-control" id="description">
        </div>
        <div class="form-group">
          <strong><label for="address">Where do you want to meet?</label></strong>
          <input name="location" type="text" class="form-control" id="address">
          <input id="submit" type="button" value="Search in map">
        </div>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}
        <div class="button-flex">
        <button type="submit" class="btn">That's a Plan!!</button>
        <a href="/plans/" class="btn">Volver</a>
        </div>
      </form>
    </div>
    <div class="col-md-6">

      <figure id="map" class='addMap'></figure>


    </div>

  </div>
</div>
</div>
<script src="/javascripts/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5QrzQLJtAltgspt1-ri6B04SFtB93v3s&callback=initMap"></script>