<div class="backJoin">

<div class="container">

  <div class="row headerPlans">

    <div class="col-md-5 centerT op">
    <h2 class="textAli marg">Lets search for a plan</h2>
      <br>

      <form action="/plans/join/{{userID}}" method="post">
       
        <div class="form-group">
          <select name="plan" class="form-control" id="plan">
            <option value='bar'>Go to a Bar</option>
            <option value='club'>Go to a Club</option>
            <option value='cinema'>Go to the Movies</option>
            <option value='coffee shop'>Go to a Cofee Shop</option>
            <option value='football court'>Play a match of Football</option>
            <option value='basketball court'>Play a match of Basketball</option>
            <option value='tennis court'>Play a match of Tennis</option>
            <option value='padel court'>Play a match of Padel</option>
          </select>
        </div>
       <div class="btnInJ">
        <button type="submit" class="btn ">Buscar</button>
        <a href="/" class="btn set">Volver</a>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h1 class="textAli">This are your options</h1>
    

        {{#each plans}}
          <h2>{{this.title}}</h2> 
          <a href="/plans/details/{{this._id}}" class="btn btnJoin">Ver Detalles</a>
         
        {{/each}}

    </div>
  </div>
</div>
</div>