<div class="backIndex">
  <div class="container">
    <h1 class="indexT">RandomMate</h1>
    <div class="row align">

      <div class="col-md-8">
        <p class="indexP textAli">Una forma diferente para explorar y divertirte con gente nueva </p>
        <div class="btnInJ align">
          <a href="/plans/{{userID}}" class="btn buttonsUpp">Planes</a>
          <a href="/plans/newPlan/{{userID}}" class="btn buttonsUpp">Crear plan</a>
        </div>
      </div>
    </div>
  </div>
</div>